<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Content Manager</title>
	</head>
	<body>
		<!-- Dashboard script-->
		<script is:inline src="https://unpkg.com/decap-cms@^3.8.3/dist/decap-cms.js"></script>
		<!-- CSS in preview panel -->
		<script>
			// @ts-expect-error CMS is defined globally
			CMS.registerPreviewStyle("/preview.css");
		</script>

		<!-- Decap CMS customizations for image handling -->
		<script src="../decap-utils/decap-customizations.js"></script>
	</body>
</html>
